@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
    /* variables */
    --border: theme('colors.secondary.600');
    --border-tint: theme('colors.secondary.300');
    --on-issue: theme('colors.issue.600');
    --on-issue-tint: theme('colors.issue.200');
  
    & .input {
        border: 2px solid var(--border);
        border-radius: 5px;
        padding-inline: 7px ;
        background-color: theme('colors.neutral.50');
        font-size: medium;
        width: 100%;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        color: theme('colors.neutral.700');
        &[type="password"] {
        padding-inline: 7px 65px;
        }
        &.search-field {
        @apply rounded-full;
        height: 65px;
        padding: 10px 30px;
        }
    }
    & .input:not(textarea) {
        min-height: 45px;
    }
    & .icons {
        position: absolute;
        top: 0%;
        right: 10px;
        height: 100%;
        display: flex;
        place-items: flex-end;
        padding-block: 15px;
        justify-content: center;
        gap: 10px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
    
        & .info {
            color: var(--on-issue);
            display: none;
        }
    }
    .input:not(textarea) ~ .icons {
        place-items: center;
    }
    & label {
        position: absolute;
        @apply -top-[10px];
        left: 7px;
        background: var(--border);
        color: var(--border-tint);
        font-weight: bold;
        padding-inline: 10px;
        font-size: 14px;
        border-radius: 5px;
        display: none;
    }
    & .message {
        background-color: var(--on-issue);
        color: var(--on-issue-tint);
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem; /* 20px */
        position: absolute;
        right: 0;
        margin-top: 3px;
        z-index: 1;
        isolation: isolate;
    
        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: var(--on-issue);
            position: absolute;
            top: -10%;
            right: 10px;
            transform: rotate(45deg);
            background-blend-mode:color-burn;
            z-index: -1;
            border-radius: 2px;
        }
    }
  
    & .input:focus {
        padding-top: 10px;
        border: 2px solid var(--border);
    
        &::placeholder {
            color: transparent;
        }
        & ~ label {
            display: inline;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            /* border: 2px solid var(--border); */
        }
    }
  
    & .input[focused="true"]:valid, & .input[focused="true"]:invalid {
        padding-top: 10px;
        
        & ~ label {
            display: inline;
        }
    }
  
    & .input[focused="true"]:invalid {
        border: 2px solid var(--on-issue);
        padding-inline: 7px 26px;
    
        & ~ label {
            background-color: var(--on-issue);
            color: var(--on-issue-tint);
        }
        & ~ .icons .info {
            display: inline;
        }
    }
}

form {
    @apply flex flex-col gap-5 m-auto transition-all duration-100 overflow-auto place-self-center;
  
    & .title {
      @apply font-black text-base md:text-xl xl:text-3xl;
    }
  
    & .sub-title {
      @apply font-light text-xs;
    }
  
    & .wrapped {
      @apply flex flex-col md:flex-row gap-5
    }
}

.report-page {
    @apply grid gap-1 px-[3%] bg-inherit;

    & .header {
        @apply leading-none w-full py-1 sticky top-0 bg-white;

        & .title {
            @apply font-black text-base md:text-xl xl:text-3xl;
        }

        & .sub-title {
            @apply font-light text-xs;
        }
    }

    & .table-list {
        @apply bg-neutral-200 text-neutral-800 w-full min-h-12 cursor-pointer hover:bg-neutral-300 rounded-sm p-2 grid justify-between items-center gap-1;

        & header {
            @apply font-bold text-sm lg:text-base 2xl:text-xl;
        }

        & sub-header {
            @apply font-medium text-xs lg:text-sm 2xl:text-lg;
        }
    }
}